@use './../../../helpers/' as *;

.problematic {
    padding-inline: rem(20);
    padding-block: rem(40);
    background-color: var(--color-accent);
    border-radius: var(--border-radius-l);
    
    & h2 {
        @include fluid-text(60, 36);
        line-height: 0.84;
        text-transform: uppercase;
        margin-top: 0;
    }

    & > p {
        @include fluid-text(30, 22);
        text-transform: uppercase;
        font-weight: 600;
        line-height: 1.2;
        margin-bottom: rem(28);
    }

    & ul {
        list-style: none;
        padding-left: 0;
        margin-bottom: 0;

        & li {
            @include fluid-text(22, 22);
            line-height: 1;

            padding: rem(20);
            border-radius: var(--border-radius-s);
            box-shadow: 1px 4px 5px 0 rgba(111, 80, 70, 0.1);
            background: linear-gradient(0deg, #f5f1ee 0%, #fff5ee 100%);

            &:not(:last-of-type) {
                margin-bottom: rem(30);
            }
        }
    }
}

@media (min-width: 960px) {
    .problematic {
        padding-inline: rem(40);
        padding-top: rem(66);
        padding-bottom: rem(87);

        & h2 {
            margin-bottom: rem(30);
        }

        & > p {
            line-height: 0.84;
            margin-bottom: rem(70);
        }

        & ul {
            margin: 0 auto;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: rem(41);

            & li {
                padding-top: rem(30);
                padding-inline: rem(20);
                max-width: rem(309);
                height: rem(240);

                &:not(:last-of-type) {
                    margin-bottom: 0;
                }
            }
        }
    }
}