@use './../../../helpers/' as *;

.approach {
    padding-inline: rem(20);
    padding-top: rem(70);

    & div {
        padding-inline: rem(10);
        padding-top: rem(36);
        padding-bottom: rem(27);
        box-shadow: 1px 4px 5px 0 rgba(111, 80, 70, 0.1);
        background: #ece6e3;
        border-radius: var(--border-radius-l);

        & h2 {
            @include fluid-text(60, 36);
            line-height: 0.84;
            text-transform: uppercase;
            margin-top: 0;
            margin-bottom: rem(20);
        }

        & ul {
            padding-left: 0;
            margin-top: 0;

            & h3 {
                @include fluid-text(30, 22);
                text-transform: uppercase;
                margin-top: 0;
                margin-bottom: rem(30);
                line-height: 1.2;
            }

            & li {
                @include fluid-text(30, 22);
                line-height: 1;
                letter-spacing: -0.03rem;
                margin-left: rem(25);
            }
        }
    }

}

@media (min-width: 960px) {
    .approach {
        padding-block: rem(70);
        padding-inline: rem(40);

        & div {
            padding-block: rem(60);
            padding-inline: rem(40);

            & ul {
                h3 {
                    margin-bottom: rem(70);
                }
            }
        }
    }
}