@use './../helpers/' as *;

.contacts {
    padding-top: rem(70);
    padding-inline: rem(20);
    padding-bottom: rem(67);
    display: flex;
    flex-direction: column;

    & h2 {
        text-transform: uppercase;
        margin-top: 0;
        margin-bottom: rem(23);
    }

    & a {
        text-decoration: none;
        font-style: normal;
    }

    &__phone {
        align-items: center;
        font-size: rem(20);
        font-weight: 700;
        line-height: 1.4;
        margin-bottom: rem(6);

        & span {
            font-size: rem(26);
            margin-left: rem(4);
        }
    }

    &__mail {
        font-size: rem(24);
        margin-bottom: rem(30);
    }

    & address {
        font-size: rem(20);
        line-height: 1;
        padding-right: rem(10);
        margin-bottom: rem(13);
    }

    & p {
        font-size: rem(17);
        font-weight: 500;
        line-height: 1.21;
        padding-right: rem(6);
        margin-bottom: rem(10);
    }

    &__messangers {
        margin-bottom: rem(23);
        display: flex;
        align-items: center;
        gap: rem(20);

        & a {
            display: inline-block;
            height: rem(18);
            width: rem(18);
        }
    }

    &__map {
        margin: 0 auto;
        width: 100%;
        height: rem(220);

        & iframe {
            margin-left: auto;
        }
    }
}

@media (min-width: 960px) {
    .contacts {
        padding-top: rem(113);
        padding-bottom: rem(157);
        padding-left: rem(40);
        position: relative;

        & h2 {
            padding-bottom: rem(68);
        }

        & address,
        & p {
            max-width: rem(420);
            width: 35%;
        }

        & p {
            line-height: 1;
            margin-bottom: rem(20);
        }

        & address,
        & p,
        & > a,
        &__messangers {
            margin-left: rem(27);
        }

        &__map {
            position: absolute;
            z-index: -1;
            right: 3%;
            top: 29%;
            width: 58%;
            display: unset;
            max-width: rem(823);
            min-height: rem(360);
        }
    }
}